.header {
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center content vertically */
	align-items: center; /* Center content horizontally */
	color: white;
	padding: 1em; /* Add some padding */
	font-family: 'Arial', sans-serif; /* Use a modern font */
	font-size: 24px; /* Adjust font size as needed */
	font-weight: bold; /* Optional: Make the font bold */
  }

  .logo {
	
	top: 1em;
	right: 1em;
	position: abosolute;
	width: 5em;
	height: 2.5em;
  }

  .headerContainer {
	display: flex;
	flex-direction: row;
  }